<div class="container">

  <h1>Stupid Coach</h1>

  <div class="cadre">
    <h4>You asked :</h4>
    <%= @question %>
    <h4>Here's what the coach answers to that :</h4>
    <%= @answer %>
  </div>

  <div class="link">
    <%= link_to "Go back to the question page", "/ask" %>
  </div>

</div>

