<body>

  <div class="container">

    <h1>Stupid Coach</h1>
  <h3>Ask anything to the most stupid coach on earth :</h3>
  <form class="form" action="/answer">
    <input class="input-box" type="text" name="question" placeholder="Type here">
    <input class="submit" type="submit" value="Say what ?">
  </form>

  </div>

</body>

